* {
    margin: 0px;
}

body {
    background-image: url("img/fundo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
}

h1,
form {
    text-align: center;
}

h2 {
    color: white;
}

header {
    background-color: rgb(0, 0, 0);
    height: 100px;
}



.editarlogo {
    height: 400px;
    left: 450px;
    top: -150px;
    position: absolute;
}

.logopequena {
    height: 100px;
    position: absolute;
}

.login {
    position: absolute;
    width: 50%;
    padding: 60px;
    margin: 100px 250px;
    background: black;
}

form h1 {
    padding-bottom: 40px;
}

form label {
    font-size: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.botão1 {
    text-align: center;
    background-color: rgb(80, 134, 215);
    padding: 15px 32px;
    left: 50px;
    right: 100px;
}

.botão2 {
    text-align: center;
    background-color: rgb(26, 66, 126);
    padding: 7px 20px;
    right: 100px;
    left: 100px;
}


