body{
    background-image: url("img/fundo.jpeg");
    color: white;
}

.logo {
    background-color: rgb(0, 0, 0);
    width: 99%; 
    margin:0px 0px 0px 0px;
    height: 100px;
    position: absolute;
}

.editarlogo{
    height: 400px;
    left: 450px;
    top:-150px;
    position: absolute;
}

.logopequena{
    margin:0px 0px 0px 0px;
    height: 100px; 
    position: absolute;
}

h1,form{
    text-align: center;
}

