body{
    background-image:url(img/fundo.jpeg);
}
.header-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.header-center-logo {
    height: 400px;
    margin-top: -150px;
    margin-bottom: -150px;
    z-index: 10;
}

.logo-top-teste {
    display: block;
    margin: auto;
    height: 400px;
    object-fit: cover;
}

.header-left {
    margin-top: -95px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 300;
    padding: 20px;
    background: black;
}

footer a {
    padding-left: 10px;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer>p {
        margin: 10px;
    }
}

.cortx{
    color: #fff;
  }

.tamanho{
    height: 400px;
}
.gta{
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

.posi{
    margin-left: 735px;
    margin-top: -395px;
}

.kauan{
    color: #fff;
    font-size: 1.5;
    width: 450px;
}

.diego{
    margin-left: 750px;
}

.margem{
background-color: #8A3fa5;
height: 400px;
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 35.5px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }

.padd{
    margin-left: 1000px;
    margin-top: -20px;
}

.centro{
    font-size: 1.2rem;
    color: #fff;
}

.margimm{
    margin-left: 920px;
    margin-top: -55px;
}

.ezyy { 
	background-color:rgba(0, 0, 0, 1);
	width:253px;
	height:47px;
    margin-left: 910px;
    margin-top: -43px;
}

.tmr{
    width: 460px;
    height: 215px;
}