body{
  background-image:url("img/fundo.jpeg");
}

h3{
  color:white;
}

.center {
    background:black;
    width: 100%;
    margin: -10px 0px 0px 0px ;
    height: 100px;
  }
  
.face{
    height: 400px;
    left: 550px;
    top:-160px;
    position: absolute;
}  


  .fale{
    height: 400px;
    left: 50px;
    top:-5px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.vale{
  font: size 0.5em;
  background-color: black;
  border: black;
  color: white;
}

.navbar{
  height: 300px;
  display: flex;
  justify-content: end;

}

.cassio { 
	display: flex;
  justify-content:;
  height: 30px;
}

.renan{
  background:black;
  width: 100%;
  margin: 0px 0px 0px 0px ;
  height: 31px;
}

.otavio{
position: absolute;
left: 352px;
top: 232px;

}

.gato{
  left: 118px;
  top: 30px;
  position: absolute;
}

