body{
  background-image:url(img/fundo.jpeg);
}

.cor{
  color: white;
  font-size: 1rem;
}


.header-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.header-center-logo {
  height: 400px;
  margin-top: -150px;
  margin-bottom: -150px;
  z-index: 10;
}

.logo-top-teste {
  display: block;
  margin: auto;
  height: 400px;
  object-fit: cover;
}

.header-left {
  margin-top: -95px;
}

 

.vale{
  font: size 0.5em;
  background-color: black;
  border: black;
  color: white;
}

.navbar{
  height: 300px;
  display: flex;
  justify-content: end;

}


.button {
  --color: #811d88;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(141, 11, 139);
 }
 
 .button:active {
  filter: brightness(.8);
 }

 .botao{
  margin-left: 1050px;
  margin-top: -75px;
 }

.btarefa{
  background:black;
    width: 100%;
    margin: 0px 0px 0px 0px ;
    height: 50px;
}



.caua{
    margin:0 auto;
    margin-left: 200px;
    margin-top: -45px;
}


.localizaçãoslide {
  padding-top: 50px;
 
}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.div-slider{
width: auto;
height: 400px;
text-align: center;
}
.slides-front {
  padding: 0;
  width: 980px;
  height: 370px;
  display: block;
  margin: auto;
  position: relative;
}

.slides-front * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides-front input { display: none; }

.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 980px;
  height: 370px;
  display: block;
  position: absolute;

  transform: scale(0);

  transition: all .7s ease-in-out 0.1s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 125px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .2s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }


input:checked + .slide-container  .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out 0.1s;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
width: 100%;
bottom: 9px;
height: 11px;
display: block;
position: relative;
text-align: center;
}

.nav-dots .nav-dot {
top: 375px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.8);
}
input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3, 
background rgba(0, 0, 0, 0.8);



.card-modelo img {
  width: 12rem;
  height: 22rem;
  object-fit: cover;
}

.card-modelo {
  display: inline-block;
  position: relative;
  margin: .4rem;
  box-shadow: 2px white;
  vertical-align: top;
}

.card-modelo img:hover {
  filter: brightness(40%) blur(5px);
  box-shadow: 0px 1px 20px 1px rgb(255, 255, 255), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.card-modelo figcaption {
  color: white;
}


.bg{
  text-align: center;
}

.caua{
    margin:0 auto;
    margin-left: 200px;
    margin-top: -48px;
}


/* Estilos do botão */
.dropbtn {
  /* background-color: #4CAF50; */
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.fg{
  margin-top: -77px;
  margin-left: 600px;
}

/* Estilos do dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Quando o dropdown estiver aberto, exibe os itens */
.dropdown:hover .dropdown-content {
  display: block;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation a {
  text-decoration: none;
  display: block;
}

.navigation a { 
  text-align: center; 
  padding: 10px;
}

.lista{
  margin-top: 10px;
  height: 50px;
  font-size: 1.1rem;
  color: white;
}


footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
  padding: 20px;
  background: black;
}

footer a {
  padding-left: 10px;
}

@media (max-width: 600px) {
  footer {
      flex-direction: column;
      text-align: center;
  }

  footer>p {
      margin: 10px;
  }
}

.cortx{
  color: #fff;
}

.nooov{
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin-left: 120px;
  margin-top: -23px;
  position: absolute;
  display: flex;
  font-size: 2rem;
}