body {
  margin: 0;
  background-image:url("./img/fundo.jpeg");
  font-family: "Euclid Circular A", "Poppins";
  color: #f7f7f7;
  height: 100VH;
  background-size: cover;


}
.center{
  text-align: center;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.header-center-logo {
  height: 400px;
  margin-top: -150px;
  margin-bottom: -150px;
  z-index: 10;
}

.logo-top-teste {
  display: block;
  margin: auto;
  height: 400px;
  object-fit: cover;
}

.header-left {
  margin-top: -95px;
}

.container{ 
  width: 60%;
  height: auto;
  background-color: black;
  margin-top: 0rem;
  padding-bottom: 3rem;
  padding-left: 70px; 
  margin-left: 70px;
}
.assunto{
  width: 90%;
}
.pergunta{
  width: 90%;
  height: 7rem;
  
}
.enviar {
  width: 70px;
  height: 35px;
  background-color: #1988ffc4;
  color: #f7f7f7;
  position: relative;
  width: 70px;
  left: 10px;
}

h4{
  color: white;
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
  padding: 20px;
  background: black;
}

footer a {
  padding-left: 10px;
}

@media (max-width: 600px) {
  footer {
      flex-direction: column;
      text-align: center;
  }

  footer>p {
      margin: 10px;
  }
}
