body {
    /*background-color: lavender;*/
    background-image: url("../img/fundo.jpeg");
    font-family: "euclid circular A", "Poppins";
    color: white;
}
.center{
    background-color: black;
    width: 200%;
    margin: 0px 0px 0px 0px;
    height: 100px;
}

.header-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100% ;
  background-color: rgb(0, 0, 0);
}

.header-center-logo {
  height: 400px;
  margin-top: -150px;
  margin-bottom: -150px;
  z-index: 10;
}

.logo-top-teste {
  display: block;
  margin: auto;
  height: 400px;
  object-fit: cover;
}

.header-left {
  margin-top: -95px;
}
.cadastro{
  padding: 50px;
  width: 60%;
  height: auto;
  background-color: black;
  margin: 0px 3px 70px 70px;
  margin-left: auto;
  margin-right: auto;
  
}

.tamanho{
width: 90%;
}


h1 {
  text-align: center;
}

.Continuar {
  width: 70px;
  height: 35px;
  background-color: #1988ffc4;
  color: #f7f7f7;
  position: relative;
  width: 100px;
  left: 500px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
  padding: 20px;
  background: black;
}

footer a {
  padding-left: 10px;
}

@media (max-width: 600px) {
  footer {
      flex-direction: column;
      text-align: center;
  }

  footer>p {
      margin: 10px;
  }
}